.bo{
    align-items: center;
    justify-content: center;
    text-align: center;
   padding-left: 150px;
   padding-right: 150px;
    background-color: rgb(252, 252, 248);
}
.icon{
    border-radius: 50%;
}
.email{
    height: 30px;
    width: 300px;
    margin: 10px;
}
button{
    border-radius: 5px;
   
    background-color: rgb(65, 65, 234);

}
button:hover{
    background-color: blue;
}